.Header{
    width: 100%;
    height: 20vh;
    // border: 1px solid red;
    justify-content: flex-end !important;
    .image_container{
        width: 35vh;
        // border: 1px solid red;
    }
}