$color-one: #212121;

.CameraPage {
  height: 100svh;
  position: relative;
  .cameraPageBgContainer {
    width: 100%;
    height: 100%;
  }
  .mainContainer {
    height: 75%;
    position: absolute;
    inset: 0;
    top: 20%;
    justify-content: space-between;
    // border: 1px solid black;

    .wrapper {
      // border: 1px solid black;
      overflow: hidden;
      gap: 6.2vh;
      .logoContainer {
        width: 35vh;
      }
      .cameraContainer {
        position: relative;
        width: 30vh;
        height: 40vh;
        outline: 2.5vw solid $color-one;
        outline-offset: -2.5vw;
        // border: 2.5vw solid $color-one;

        border-radius: 2vw;
        overflow: hidden;
        .webcamWithModel {
          width: 100%;
          height: 100%;
          overflow: hidden;
          #webcam {
            width: auto;
            height: 100%;
            object-fit: cover;
          }
          .modelContainer {
            // border: 10px solid green;
            position: absolute;
            height: auto;
          }
          .countdown {
            position: absolute;
            top: 37%;
            left: 45%;
            color: $color-one;
            font-size: 8.5vw;
            font-weight: 600;
            z-index: 2;
          }
        }
        .frameContainer,
        .capturedImgContainer {
          position: absolute;
          inset: 0;
          width: 100.2%;
          height: 100%;
        }
        .capturedImgContainer {
          background-color: $color-one;
          // border: 10px solid red;
          outline: 2.5vw solid $color-one;
          outline-offset: -2.5vw;
        }
      }
    }

    .captureBtnContainer,
    .retakeBtnContainer,
    .submitBtnContainer {
      width: 22vh;
    }

    .retakeSubmitBtnContainer {
      gap: 2vh;
    }
  }
}
