.HomePage {
  height: 100svh;
  position: relative;
  .homeBgContainer {
    width: 100%;
    height: 100%;
  }
  .mainContainer {
    height: 75%;
    position: absolute;
    inset: 0;
    top: 20%;
    justify-content: space-between;
    // border: 1px solid black;
    .logoContainer {
      width: 35vh;
    }
    .startBtnContainer {
      width: 23vh;
    }
  }
}
